/Release
/ipch
/vc10_bin_Debug
/vc10_fceux.sdf
/vc10_fceux.vcxproj.user
/vc10_obj_Debug
/vc10_obj_Release
/vc9_bin_Debug
/vc9_fceux.ncb
/vc9_fceux.suo
/vc9_fceux.vcproj.CaH4.CaH4e3.user
/vc9_obj_Debug
/vc9_obj_Release
/vc10_fceux.suo
/vc10_fceux.opensdf
/Release Fastbuild
/vc8_bin_debug
/vc8_fceux.ncb
/vc8_obj_Debug
/vc8_fceux.suo
/*.user
