# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
- master
- linux-cheats

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    which scons-3
  displayName: 'Build'
