  /* CSS layout */
body {
	margin: 0;
	padding: 0;
}

#masthead {
}

#top_nav {	
}

#container {
	min-width: 600px;
}

#left_col {
	width: 150px;
	float: left;
}

#page_content {
	margin-left: 150px;
}

.Font {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #E9E9E9;
}

#footer {
	text-align: center;
	border-style: inset;
	border-width: thick;
	margin-left: 128px;
	margin-right: 128px;
	margin-top: 24px;
	border-color: #999999;
}

h1 {
	background-image:url('assests/ICON_1.ICO'); 
	background-repeat: no-repeat;
	background-position: left;
	background-color: #999999;
	padding: 0px;
	margin: auto;
	border-style: ridge;
	text-indent:40px;
}
h2 {
	background-color: #B4B4B4;
	padding: 0px;
	border-top-width:4px;
	border-style: ridge;
	padding-top: 16px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 80px;
}
h3 {
	border-style: solid;
	border-color: #999999;
	border-width: 1px;
	text-align: left;
	background-color: #E1E1E1;
	margin-right: 120px;
}
li {
	background-color: #E9E9E9;
	padding-left: 1px; 
}
