/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 color: #a0a0a0;
}
span.rvts12
{
 font-size: 15pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts13
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts14
{
 font-style: italic;
 color: #a0a0a0;
}
span.rvts15
{
 font-size: 12pt;
}
a.rvts16, span.rvts16
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts16:hover
{
 color: #0000ff;
}
span.rvts17
{
 font-size: 18pt;
}
span.rvts18 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts19, span.rvts19 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts20
{
 text-decoration: underline;
}
span.rvts21
{
 font-size: 14pt;
}
span.rvts22
{
 font-size: 24pt;
 text-decoration: underline;
}
a.rvts23, span.rvts23
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts23:hover
{
 color: #0000ff;
}
a.rvts24, span.rvts24
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts24:hover
{
 color: #0000ff;
}
span.rvts25
{
 font-size: 12pt;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 18pt;
 text-decoration: underline;
}
span.rvts27
{
 font-size: 20pt;
 font-weight: bold;
}
span.rvts28
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts29
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 background-color: #ffffff;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts31
{
 color: #000000;
}
span.rvts32
{
 font-size: 16pt;
 color: #000000;
}
span.rvts33
{
 font-size: 14pt;
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 color: #000000;
}
span.rvts35
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts36
{
}
span.rvts37
{
 font-size: 14pt;
}
span.rvts38
{
 font-size: 16pt;
}
a.rvts39, span.rvts39
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts39:hover
{
 color: #0000ff;
}
a.rvts40, span.rvts40
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts40:hover
{
 color: #0000ff;
}
span.rvts41
{
 font-size: 16pt;
}
a.rvts42, span.rvts42
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts42:hover
{
 color: #0000ff;
}
span.rvts43
{
 font-family: 'Lucida Console', 'Monaco', monospace;
}
span.rvts44
{
 font-style: italic;
}
a.rvts45, span.rvts45
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts45:hover
{
 color: #0000ff;
}
span.rvts46
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts47
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts48, span.rvts48
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts48:hover
{
 color: #0000ff;
}
span.rvts49
{
 font-weight: bold;
}
a.rvts50, span.rvts50
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts50:hover
{
 color: #0000ff;
}
a.rvts51, span.rvts51
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts51:hover
{
 color: #0000ff;
}
span.rvts52
{
 font-size: 16pt;
 text-decoration: underline;
}
a.rvts53, span.rvts53
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts53:hover
{
 color: #0000ff;
}
span.rvts54
{
 font-size: 24pt;
}
a.rvts55, span.rvts55
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts55:hover
{
 color: #0000ff;
}
span.rvts56
{
 font-size: 14pt;
 text-decoration: underline;
}
span.rvts57
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts58
{
 font-size: 9pt;
}
a.rvts59, span.rvts59
{
 font-size: 9pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts59:hover
{
 color: #0000ff;
}
span.rvts60
{
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts61, span.rvts61
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts61:hover
{
 color: #0000ff;
}
a.rvts62, span.rvts62
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts62:hover
{
 color: #0000ff;
}
a.rvts63, span.rvts63
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts63:hover
{
 color: #0000ff;
}
span.rvts64
{
 font-size: 12pt;
 font-weight: bold;
}
a.rvts65, span.rvts65
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts65:hover
{
 color: #0000ff;
}
a.rvts66, span.rvts66
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts66:hover
{
 color: #0000ff;
}
a.rvts67, span.rvts67
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts67:hover
{
 color: #0000ff;
}
a.rvts68, span.rvts68
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts68:hover
{
 color: #0000ff;
}
a.rvts69, span.rvts69
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts70, span.rvts70
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts70:hover
{
 color: #0000ff;
}
a.rvts71, span.rvts71
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts71:hover
{
 color: #0000ff;
}
a.rvts72, span.rvts72
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts72:hover
{
 color: #0000ff;
}
span.rvts73
{
 font-size: 12pt;
 font-weight: bold;
 text-decoration: underline;
}
a.rvts74, span.rvts74
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts74:hover
{
 color: #0000ff;
}
a.rvts75, span.rvts75
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts75:hover
{
 color: #0000ff;
}
a.rvts76, span.rvts76
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts76:hover
{
 color: #0000ff;
}
span.rvts77
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts78
{
 font-size: 8pt;
}
span.rvts79
{
 color: #000000;
}
a.rvts80, span.rvts80
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts80:hover
{
 color: #0000ff;
}
a.rvts81, span.rvts81
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts81:hover
{
 color: #0000ff;
}
span.rvts82
{
 color: #0000ff;
}
span.rvts83
{
 color: #00cc00;
}
span.rvts84
{
 color: #ff0000;
}
span.rvts85
{
 color: #00be00;
}
span.rvts86
{
 color: #a08c00;
}
span.rvts87
{
 color: #0000c3;
}
span.rvts88
{
 color: #0082a0;
}
span.rvts89
{
 color: #d2be00;
}
span.rvts90
{
 color: #0a0aff;
}
span.rvts91
{
 color: #05ff05;
}
span.rvts92
{
 font-size: 22pt;
 text-decoration: underline;
}
a.rvts93, span.rvts93
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts93:hover
{
 color: #0000ff;
}
a.rvts94, span.rvts94
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts94:hover
{
 color: #0000ff;
}
a.rvts95, span.rvts95
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts95:hover
{
 color: #0000ff;
}
span.rvts96
{
 font-weight: bold;
 color: #ff0000;
}
span.rvts97
{
 font-weight: bold;
 color: #ff0000;
 background-color: #ffffff;
}
span.rvts98
{
 font-size: 18pt;
 font-weight: bold;
}
a.rvts99, span.rvts99
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts99:hover
{
 color: #0000ff;
}
a.rvts100, span.rvts100
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts100:hover
{
 color: #0000ff;
}
span.rvts101
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts102
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts103
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000080;
}
span.rvts104
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #333399;
}
span.rvts105
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #000080;
}
span.rvts106
{
 font-size: 16pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts107
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts108
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts109
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #000080;
}
a.rvts110, span.rvts110
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts110:hover
{
 color: #0000ff;
}
span.rvts111
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts112
{
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts113
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #00007f;
}
span.rvts114
{
 font-size: 14pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts115
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts116
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #00007f;
}
span.rvts117
{
 font-family: 'Courier New', 'Courier', monospace;
 color: ;
}
span.rvts118
{
 color: ;
}
span.rvts119
{
 font-family: 'Lucida Console', 'Monaco', monospace;
 text-decoration: underline;
}
span.rvts120
{
 font-weight: bold;
 text-decoration: underline;
}
span.rvts121
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts122
{
 font-size: 5pt;
}
span.rvts123
{
 font-size: 5pt;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 background: #ffffff;
}
.rvps6
{
 text-indent: 48px;
}
.rvps7
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 36px; list-style-position: outside; list-style-type: circle;}
