vti_encoding:SR|utf8-nl
vti_author:SR|AD-PC\\Owner
vti_modifiedby:SR|AD-PC\\Owner
vti_timelastmodified:TR|17 Nov 2009 23:38:28 -0000
vti_timecreated:TR|23 Sep 2009 14:27:32 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|contact.html home.html download.html version.html documentation.html
vti_nexttolasttimemodified:TW|17 Nov 2009 23:37:49 -0000
vti_cacheddtm:TX|17 Nov 2009 23:38:28 -0000
vti_filesize:IR|579
