vti_encoding:SR|utf8-nl
vti_author:SR|AD-PC\\Owner
vti_modifiedby:SR|AD-PC\\Owner
vti_timelastmodified:TR|04 Dec 2009 16:05:56 -0000
vti_timecreated:TR|23 Sep 2009 14:27:32 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|contact.html home.html download.html FM2.html ConvertFCMtoFM2.html movies.html version.html documentation.html fceux-sdl-docs.html fceux-sdl-faq.html
vti_nexttolasttimemodified:TW|04 Dec 2009 16:05:43 -0000
vti_cacheddtm:TX|04 Dec 2009 16:05:56 -0000
vti_filesize:IR|1119
vti_cachedlinkinfo:VX|S|assests/ICON_1.ICO
vti_cachedsvcrellinks:VX|FSUS|assests/ICON_1.ICO
