[Desktop Entry]
Encoding=UTF-8
Name=FCEUX NES Emulator
Comment=Play Nintendo ROM files
Exec=gfceux
Terminal=false
Type=Application
StartupNotify=true
Icon=gfceux
Categories=GNOME;GTK;Game;
